<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.yuna.server.mapper.BoardMapper">

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" resultType="Board">
        SELECT *
        FROM `board`
        ORDER BY reg_date DESC
    </select>

    <!-- 게시글 조회 -->
    <select id="selectBoard" resultType="Board">
        SELECT *
        FROM `board`
        WHERE board_no = #{boardNo}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard">
        INSERT INTO `board` (title, writer, content)
        VALUES (#{title}, #{writer}, #{content})
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard">
        UPDATE `board`
        SET title = #{title},
            writer = #{writer},
            content = #{content},
            upd_date = now()
        WHERE board_no = #{boardNo}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard">
        DELETE FROM `board`
        WHERE board_no = #{boardNo}
    </delete>
    
</mapper>